<div class="bg-secondary m-0">
    <div class="container">
        <div class="row p-5">
            <div class="col-lg-4 p-4">
                <div class="text-center text-white">
                    <h2>LOCATION</h2>
                    <p>2215 John Daniel Drive</p>
                    <p>Clark, MO 65243</p>
                </div>
            </div>
            <div class="col-lg-4 p-4">
                <div class="text-center text-white">
                    <h2>AROUND THE WEB</h2>
                    <div>
                        <i class="fa-brands fa-facebook mx-1 icon "></i>
                        <i class="fa-brands fa-twitter mx-1 icon"></i>
                        <i class="fa-brands fa-linkedin-in mx-1 icon"></i>
                        <i class="fa-solid fa-globe mx-1 icon"></i>
                        
                        
                    </div>
                  
                </div>
            </div>
            <div class="col-lg-4 p-4">
                <div class="text-center text-white">
                    <h3>ABOUT FREELANCER</h3>

                    <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-dark text-center text-white p-5">
    <p>Copyright © Your Website 2021</p>
</div>