<div class="text-bg-success text-center p-5">
    <div class="py-5">
        <h1 class="pt-4">about component</h1>
        <div class="w-25 d-flex justify-content-center m-auto p-3 ">

            <hr class="dotted-line line w-25 m-2 border-2  ">
            <i class="fa-solid fa-star"></i>
            <hr class="dotted-line line w-25 m-2 border-2  ">
        </div>

    </div>

    <div class="container p-5">
        <div class="row ">
            <div class="col-lg-6">
                <div>
                    <p>

                        Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                        files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                        customization.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div>
                    <p>

                        Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                        files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                        customization.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>