<div class="text-center py-5">
    <div class="text-primary-emphasis pt-5">
        
        <h1 >conatct section</h1>
         <div class="w-25 d-flex justify-content-center m-auto p-3 ">

                <hr class="dotted-line line w-25 m-2 border-2  ">
                <i class="fa-solid fa-star"></i>
                <hr class="dotted-line line w-25 m-2 border-2  ">
            </div>

    </div>
    <div class="container w-50 m-auto p-5">
        <form >
            <input class="form-control m-2" type="text" placeholder="userName" >
            <input class="form-control m-2" type="number" placeholder="userAge" >
            <input class="form-control m-2" type="email" placeholder="userEmail" >
            <input class="form-control m-2" type="password" placeholder="userpassword" >

            <button type="button" class="btn btn-success ">send message</button>




            
        </form>
    </div>

</div>