<div class="p-5">
    <div class="text-primary-emphasis text-center py-5 ">

        <h1>portfolio component</h1>
        <div class="w-25 d-flex justify-content-center m-auto p-3 ">

            <hr class="dotted-line line w-25 m-2 border-2  ">
            <i class="fa-solid fa-star"></i>
            <hr class="dotted-line line w-25 m-2 border-2  ">
        </div>

    </div>

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-4" (click)="open('./assets/imges/poert1.png')">
                <div data-bs-target="#exampleModal" data-bs-toggle="modal" class="position-relative my-card">

                    <div class="card-img overflow-hidden">
                        <img class="w-100 card my-image" src="./assets/imges/poert1.png" alt="">

                    </div>

                    <div
                        class=" my-inner  bg- position-absolute w-100 h-100 top-0 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fs-1 text-white"></i>

                    </div>

                </div>
            </div>

            <div class="col-lg-4" (click)="open('./assets/imges/port2.png')">
                <div data-bs-target="#exampleModa2" data-bs-toggle="modal" class="position-relative my-card">

                    <div class="card-img overflow-hidden">
                        <img class="w-100 card my-image" src="./assets/imges/port2.png" alt="">

                    </div>

                    <div
                        class=" my-inner  bg- position-absolute w-100 h-100 top-0 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fs-1 text-white"></i>

                    </div>

                </div>
            </div>

            <div class="col-lg-4" (click)="open('./assets/imges/port3.png')">
                <div data-bs-target="#exampleModa3" data-bs-toggle="modal" class="position-relative my-card">

                    <div class="card-img overflow-hidden">
                        <img class="w-100 card my-image" src="./assets/imges/port3.png" alt="">

                    </div>

                    <div
                        class=" my-inner  bg- position-absolute w-100 h-100 top-0 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fs-1 text-white"></i>

                    </div>

                </div>
            </div>
            <div class="col-lg-4" (click)="open('./assets/imges/poert1.png')">
                <div data-bs-target="#exampleModal" data-bs-toggle="modal" class="position-relative my-card">

                    <div class="card-img overflow-hidden">
                        <img class="w-100 card my-image" src="./assets/imges/poert1.png" alt="">

                    </div>

                    <div
                        class=" my-inner  bg- position-absolute w-100 h-100 top-0 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fs-1 text-white"></i>

                    </div>

                </div>
            </div>

            <div class="col-lg-4" (click)="open('./assets/imges/port2.png')">
                <div data-bs-target="#exampleModa2" data-bs-toggle="modal" class="position-relative my-card">

                    <div class="card-img overflow-hidden">
                        <img class="w-100 card my-image" src="./assets/imges/port2.png" alt="">

                    </div>

                    <div
                        class=" my-inner  bg- position-absolute w-100 h-100 top-0 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fs-1 text-white"></i>

                    </div>

                </div>
            </div>

            <div class="col-lg-4" (click)="open('./assets/imges/port3.png')">
                <div data-bs-target="#exampleModa3" data-bs-toggle="modal" class="position-relative my-card">

                    <div class="card-img overflow-hidden">
                        <img class="w-100 card my-image" src="./assets/imges/port3.png" alt="">

                    </div>

                    <div
                        class=" my-inner my-x  bg- position-absolute w-100 h-100 top-0 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fs-1 text-white"></i>

                    </div>

                </div>
            </div>





        </div>

    </div>

    @if(isclicked==true){

    <div 
        class="myLyer  d-flex justify-content-center align-items-center  position-fixed top-0 bottom-0 start-0 end-0 bg-black bg-opacity-25">
        <div class="imageContent d-flex justify-content-between align-items-center position-relative">
            <img class="w-100" [src]="imgeSrc" alt="image">



            <i (click)="close()" class="fa-solid fa-x fa-xl position-absolute end-0 px-3 text-white my-x"></i>

        </div>
    </div>
    }



    <!-- <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">

                <div class="modal-body">





                    <img class="w-100" src="./assets/imges/poert1.png" alt="">




                </div>




            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModa2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">

                <div class="modal-body">





                    <img class="w-100" src="./assets/imges/port2.png" alt="">




                </div>




            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModa3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">

                <div class="modal-body">





                    <img class="w-100" src="./assets/imges/port3.png" alt="">




                </div>




            </div>
        </div>
    </div> -->









</div>