<div class="p-5">
    <div class="text-primary-emphasis text-center py-5 ">

        <h1>portfolio component</h1>
        <div class="w-25 d-flex justify-content-center m-auto p-3 ">

            <hr class="dotted-line line w-25 m-2 border-2  ">
            <i class="fa-solid fa-star"></i>
            <hr class="dotted-line line w-25 m-2 border-2  ">
        </div>

    </div>

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-4">
                <div data-bs-target="#exampleModal" data-bs-toggle="modal" class="position-relative my-card">

                    <div class="card-img overflow-hidden">
                        <img class="w-100 card my-image" src="./assets/imges/poert1.png" alt="">

                    </div>

                    <div
                        class=" my-inner  bg- position-absolute w-100 h-100 top-0 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fs-1 text-white"></i>

                    </div>

                </div>
            </div>

            <div class="col-lg-4">
                <div data-bs-target="#exampleModa2" data-bs-toggle="modal" class="position-relative my-card">

                    <div class="card-img overflow-hidden">
                        <img class="w-100 card my-image" src="./assets/imges/port2.png" alt="">

                    </div>

                    <div
                        class=" my-inner  bg- position-absolute w-100 h-100 top-0 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fs-1 text-white"></i>

                    </div>

                </div>
            </div>

            <div class="col-lg-4">
                <div data-bs-target="#exampleModa3" data-bs-toggle="modal" class="position-relative my-card">

                    <div class="card-img overflow-hidden">
                        <img class="w-100 card my-image" src="./assets/imges/port3.png" alt="">

                    </div>

                    <div
                        class=" my-inner  bg- position-absolute w-100 h-100 top-0 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fs-1 text-white"></i>

                    </div>

                </div>
            </div>
            <div class="col-lg-4">
                <div data-bs-target="#exampleModal" data-bs-toggle="modal" class="position-relative my-card">

                    <div class="card-img overflow-hidden">
                        <img class="w-100 card my-image" src="./assets/imges/poert1.png" alt="">

                    </div>

                    <div
                        class=" my-inner  bg- position-absolute w-100 h-100 top-0 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fs-1 text-white"></i>

                    </div>

                </div>
            </div>

            <div class="col-lg-4">
                <div data-bs-target="#exampleModa2" data-bs-toggle="modal" class="position-relative my-card">

                    <div class="card-img overflow-hidden">
                        <img class="w-100 card my-image" src="./assets/imges/port2.png" alt="">

                    </div>

                    <div
                        class=" my-inner  bg- position-absolute w-100 h-100 top-0 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fs-1 text-white"></i>

                    </div>

                </div>
            </div>

            <div class="col-lg-4">
                <div data-bs-target="#exampleModa3" data-bs-toggle="modal" class="position-relative my-card">

                    <div class="card-img overflow-hidden">
                        <img class="w-100 card my-image" src="./assets/imges/port3.png" alt="">

                    </div>

                    <div
                        class=" my-inner  bg- position-absolute w-100 h-100 top-0 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fs-1 text-white"></i>

                    </div>

                </div>
            </div>





        </div>

    </div>

    <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">

                <div class="modal-body">





                    <img class="w-100" src="./assets/imges/poert1.png" alt="">




                </div>




            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModa2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">

                <div class="modal-body">





                    <img class="w-100" src="./assets/imges/port2.png" alt="">




                </div>




            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModa3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">

                <div class="modal-body">





                    <img class="w-100" src="./assets/imges/port3.png" alt="">




                </div>




            </div>
        </div>
    </div>





</div>