<div class="text-bg-success text-center p-5">
    <div class="py-5">
        <img class="w-25" src="./assets/imges/avataaars.svg" alt="logo">
        <h1>start Framework</h1>
        <div class="">

            <div class="w-25 d-flex justify-content-center m-auto p-3 ">

                <hr class="dotted-line line w-25 m-2 border-2  ">
                <i class="fa-solid fa-star"></i>
                <hr class="dotted-line line w-25 m-2 border-2  ">
            </div>




        </div>

        <p>Graphic Artist - Web Designer - Illustrator</p>
    </div>


</div>